@model System.Web.Mvc.HandleErrorInfo
@using SidBy.Sklad.Web.Resources.Views.Shared

@{
    ViewBag.Title = ErrorStrings.ViewBagTitle;
}

<hgroup class="title">
    <h1 class="error">@ErrorStrings.ErrorH1</h1>
    <h2 class="error">@ErrorStrings.ErrorH2</h2>
</hgroup>
