@using SidBy.Sklad.Web.Resources.Views.Account

@{
    ViewBag.Title = ExternalLoginFailureStrings.ViewBagTitle;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ExternalLoginFailureStrings.UnsuccessfulLoginWithService</h2>
</hgroup>
